@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2s;
}

#slider h1 {
    text-transform: uppercase;
    font-weight: 900;
}

#slider h4 {
    font-size: 18px;
    text-transform: uppercase;
}

@media screen and (max-width: 992px) {
    .embed-video-responsive > iframe {
        width: 450px;
        height: 300px;
    }
}

@media screen and (max-width: 768px) {
    .embed-video-responsive  {
        margin: 0 auto;
        width: fit-content;
    }
}

@media screen and (max-width: 480px) {
    .embed-video-responsive > iframe {
        width: 350px;
        height: 250px;
    }
}

@media screen and (max-width: 390px) {
    .embed-video-responsive > iframe {
        width: 90%;
        height: 50%;
    }

    #rodape-contato {
        font-size: 14px;
    }
}


#servicos .destaque {
    display: block;
    background: var(--light);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: black;
    text-decoration: none;
    transition: all ease-out 0.2s;
}

#servicos .destaque:hover {
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .12);
    transform: scale(1.05);
}

#servicos p {
    color: var(--dark);
}

#servicos .destaque .img.destaque {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;

}

#servicos .destaque .img.destaque img {
    max-height: 160px;
}


/* DEPOIMENTOS */
#depoimentos .depoimento {
    background-color: var(--light);
    border-radius: 5px;
    display: flex;
    padding: 30px;
}
  
#depoimentos .depoimento .quote {
max-width: 35px;
}

#depoimentos .depoimento .name {
color: #aaaaaa;
}

#depoimentos .depoimento .name span {
color: #000;
font-weight: 700;
}

